<div class="landing">
	<div class="row text-center">
		<div class="jumbotron front-title">
			<h1>Welcome to Truth</h1>
			<h3>A place where you can be REAL!</h3>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default btn-lg" %>
		</div>
	</div>
</div>